storage:
  path: "temp"
  removeAfterReply: true
bot:
  token: "<your telegram bot token>"
  filters:
    - excludeQueryParams: false
      hosts:
        - "tiktok.com"
        - "vm.tiktok.com"
        - "www.tiktok.com"
        - "www.vm.tiktok.com"
    - excludeQueryParams: true
      hosts:
        - "instagram.com"
        - "www.instagram.com"
      cookiesFile: "cookies.txt"
    - excludeQueryParams: true
      hosts:
        - "twitter.com"
        - "www.twitter.com"
        - "x.com"
        - "www.x.com"
        - "t.co"
        - "www.t.co"
    - excludeQueryParams: true
      hosts:
        - "facebook.com"
        - "www.facebook.com"
    - excludeQueryParams: true
      hosts:
        - "youtube.com"
        - "www.youtube.com"
      pathRegEx: "/shorts/"