services:
  bot:
    image: ghcr.io/baranovskis/go-ytdlp-bot:main
    container_name: ytdlp-bot
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./data:/app/data
